## Admission Chance Prediction
Admission chances prediction using machine learning (ML) models involves analyzing historical data and patterns to make predictions about the likelihood of an applicant being admitted to a particular institution or program. Here's a general overview of how an ML model can be trained and used for admission chances prediction:

üñäÔ∏è Data Collection

üñäÔ∏è Data Preprocessing

üñäÔ∏è Feature Selection

üñäÔ∏è Model Training

üñäÔ∏è Model Evaluation

üñäÔ∏è Prediction and Decision Making

#### Importing necessary libraries

In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

#### read the dataset

In [6]:
data = pd.read_csv('F:\PROJECT\Projects Completed\Admission Chances Prediction\Admission Chance.csv')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No          400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4    SOP               400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [8]:
data.describe()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [9]:
data.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [12]:
y = data['Chance of Admit ']
x = data.drop(['Serial No','Chance of Admit '],axis=1)

In [14]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, train_size=0.7)

In [15]:
print(xtrain.shape, xtest.shape, ytrain.shape, ytest.shape)

(280, 7) (120, 7) (280,) (120,)

In [16]:
model = LinearRegression()

In [17]:
model.fit(xtrain, ytrain)

LinearRegression()

In [18]:
ypredict = model.predict(xtest)

In [19]:
ypredict

array([0.56024242, 0.81247169, 0.83219284, 0.45612003, 0.95054717,
       0.52452327, 0.83464043, 0.95223281, 0.66346532, 0.79261118,
       0.67292056, 0.74502419, 0.65650513, 0.91248502, 0.86392042,
       0.7484527 , 0.66807989, 0.65347456, 0.8533052 , 0.54974903,
       0.74005553, 0.49491606, 0.53775299, 0.54418061, 0.75052188,
       0.5258119 , 0.69378344, 0.60124496, 0.57723768, 0.77013213,
       0.73677186, 0.58212704, 0.8534671 , 0.6563477 , 0.82649203,
       0.72531758, 0.80232171, 0.81011317, 0.95521871, 0.85900018,
       0.69176348, 0.68824492, 0.67138921, 0.64557464, 0.55607476,
       0.59046843, 0.9258139 , 0.60559474, 0.68754865, 0.84827761,
       0.96191704, 0.67664591, 0.65041786, 0.70941106, 0.45783642,
       0.70235732, 0.60152483, 0.60940163, 0.52779678, 0.66288221,
       0.66736185, 0.76213203, 0.83753601, 0.82844677, 0.64789628,
       0.73194791, 0.70676817, 0.65096808, 0.7966019 , 0.5410927 ,
       0.95042572, 0.56202699, 0.44664239, 0.65319865, 0.88864654,
       0.63589236, 0.57317985, 0.57863689, 0.66600449, 0.65977871,
       0.75843751, 0.81179847, 0.84175696, 0.77364289, 0.65722134,
       0.52208196, 0.89423821, 0.6922933 , 0.68593511, 0.82839471,
       0.82795716, 0.62665032, 0.7297779 , 0.87398276, 0.77379312,
       0.49829979, 0.63229624, 0.65028773, 0.82058465, 0.71413238,
       0.70653459, 0.7716053 , 0.78506587, 0.65773319, 0.93808037,
       0.85963294, 0.69731831, 0.73061184, 0.81001077, 0.8468818 ,
       0.57565441, 0.63529568, 0.8259023 , 0.9003552 , 0.6774717 ,
       0.56943895, 0.71701763, 0.61327517, 0.65900364, 0.68000413])

In [21]:
model.score(xtest, ytest)*100

77.64442376198024

### Predicting with random data

In [23]:
test1 = data.sample(1)

In [24]:
test1

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
319,320,327,113,4,3.5,3.0,8.69,1,0.8

In [27]:
test1 = test1.drop(['Serial No','Chance of Admit '],axis=1)

In [28]:
predict1 = model.predict(a)

In [29]:
predict1

array([0.77552011])

NameError: name 'test1' is not defined